
summary::-webkit-details-marker { display:none; }
summary::-moz-details-marker { display:none; }
summary::-ms-details-marker { display:none; }
summary::-o-details-marker { display:none; }
summary::details-marker { display:none; }

summary {
	cursor: pointer;
}