summary {
    cursor: pointer;
    &::-webkit-details-marker {
        display: none;
    }
    &::-moz-details-marker {
        display: none;
    }
    &::-ms-details-marker {
        display: none;
    }
    &::-o-details-marker {
        display: none;
    }
    &::details-marker {
        display: none;
    }
}

.aufruf-winter {
    h1 {
        font-size: 32px;
    }
    a,
    a:visited {
        color: #AB2121;
    }
    .aufruf-action-btn {
        color: white!important;
        background-color: #AB2121 !important;
        border-color: #953535;
    }
    .aufruf-action-btn:hover {
        background-color: #BD0D0D !important;
        border-color: #953535;
    }
    &.mg-panel {
        background-image: url("/img/snowflake.svg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 100px 100px;
    }
    &.quicktip {
        border-left: 3px solid #AB2121 !important;
    }
}

.new-feature.badge {
    background-color: rgb(255, 128, 0);
}

@media(max-width: @screen-sm-max) {
    .aufruf-winter.mg-panel {
        background-size: 60px 60px;
    }
}

@media(max-width: @screen-md-max) {
    .aufruf-winter h1 {
        font-size: 27px;
    }
    .aufruf-winter .lead {
        font-size: 18px;
    }
}

@media(min-width: @screen-lg) {
    .aufruf-winter.mg-panel {
        width: 940px;
    }
}