#map, #map div{
    display:flex;
    margin:0;
}

.nav-tabs > li > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.tab-content {
    padding-top: 10px;
}

.hostlabel a:link, .hostlabel a:visited {
    color: #FFFFFF;
}

.hostlabel {
    display: none;
    position: relative;
    margin-top: -14px;
    background-color: #333;
}

.img:hover .hostlabel {
    display: block;
}

.tab-pane.active {
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.55);
    padding: 10px 0;
    padding-top: 0;
}

/* Hier der Style für unsere Suchleiste */

.navbar-resultpage {
    right: initial;
    left: initial;
    margin-bottom: 0px;
}
 
@media (max-width: @screen-xs-max) {
    .navbar-resultpage {
        right: 0px!important;
        left: 0px!important;
    }
}

.tab-pane .alert {
    margin: 10px 0;
    padding: 5px 15px;
}

.alert ul {
    list-style-type: none;
    padding-left: 49px;
}

.navbar-resultpage .container {
    padding: 0px;
    margin: 0px;
}

.navbar-resultpage .logo {
    padding-top: 0px;
}
.navbar-resultpage .input-group {
    margin: 0px 5px;
}



.dense-col {
    padding: 0px
}

/* Logo */

.logo {
    height: 35px;
    padding: 5px 0;
}

.logo > a {
    line-height: 100%;
    height: 100%;
    display: block;
}

#research ul.list-inline {
    margin-left: 0;
    width: 100%;
}

@media (max-width: 767px) {
    #research .visible-xs {
        display: inline-block!important;
    }
}

.input-group-addon {
    padding: 0;
}

input#eingabeTop {
    height: 35px;
}

nav .input-group {
    height: 35px;
    padding: 5px 0;
}


/*header ul {
    height: 100%;
    vertical-align: middle;
}*/

#research nav ul > li {
    width: 20%;
    //height: 45px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}

#research nav ul > li.visible-xs {
    width: 10%;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-resultpage {
    background-color: white;
}

.logo h1 {
    font-family: Liberation Sans, sans-serif;
    font-style: italic;
    margin: 0;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
}

#search {
    background-color: inherit;
    border: 0;
    width: 50px;
    height: 100%;
}

#reSearch a {
    color: black;
}

.content-wrapper {
    padding: 0px;
    padding-top: 52px;
    background-color: white;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#helpButton {
    color: black;
}

body {
    background-image: inherit;
    background-color: rgba(2, 93, 140, .03);
}

a#donation:hover {}

a#donation, a#donation:visited {
    color: inherit;
}

a#donation:hover {
    color: red;
}

a:visited {
    color: #792ea1;
}

a:hover {
    text-decoration: none;
    color: red;
}


/* Hier der Style für unsere Tabliste */

#foki {
    background-color: white;
}

#foki li a {
    color: grey;
}

#foki li.active a {
    color: black;
    background-color: white;
}

#foki li.active span + span {
    display: inline!important;
}

#spenden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#spruch .author {
    font-size: 80%;
    font-weight: normal;
    font-style: italic;
    color: #333333;
}

#spruch > p {
    margin-bottom: 0;
}

#spruch > p + p {
    margin-top: 4px;
}


/* Hier der Style für die einzelnen Ergebnisboxen */

.result {
    margin-bottom: 10px;
    width: 100%
}

.result > .number {
    font-size: 15px;
    line-height: 1;
    text-align: right;
}

.result > .resultInformation {
    border-radius: 5px;
}

.result .title {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    white-space: nowrap;
    line-height: 1.1;
    max-width: 115ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result .link {
    font-size: 13px;
    margin: 0;
    line-height: 1.5;
}

.result .link-link {
    white-space: nowrap;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.result .link > div {
    white-space: nowrap;
}

.result .link > span {
    white-space: nowrap;
    margin: 0 5px;
}

.result .link .options {
    color: #333;
    float: left;
}

/*
.result .link:hover {
    cursor: pointer;
}*/

.result .link .options > a {
    color: #333;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.result .link .options > a > span {
    font-size: 10px;
}

.result .description {
    margin-bottom: 3px;
    color: black;
    font-size: 14px;
    line-height: 1.3;
    clear: both;
}

.result .description p {
    margin: 0;
    margin-bottom: 4px;
}

.result .description img {
    margin: 5px;
    margin-left: 0;
    margin-right: 15px;
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 200px
}

.result.ad .description {
    max-width: 115ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result .hoster {
    font-size: 13px;
    margin: 0;
    color: #777;
    margin-right: 10px;
    white-space: nowrap;
}

.result .hoster a {
    color: #333;
}

.result .result-image > img {
    height: 100px;
    padding: 10px;
}

.result .proxy {
    font-size: 13px;
    margin-top: 0;
    white-space: nowrap;
}

.result .partnershop-info {
    font-size: 13px;
    margin-top: 0;
    margin-left: 10px;
}

.result .proxy img {
    margin-bottom: 0px;
    margin-right: 2px
}

.description-container {
    margin: 0!important;
}

.result .image > img {
    max-width: 100%;
}

.options-list > li:hover {
    background-color: lightgrey;
}

.options-list > li > a {
    color: #333;
    white-space: nowrap;
    display: block;
    padding: 5px 14px;
}

.options-list > li input[type=submit] {
    width: 100%;
    background-color: transparent;
    border: 0;
    margin: 5px 0;
}

#quicktips iframe {
    width: 100%;
    height: 800px;
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}


/* Hier der Style für die Bilder */

#fit-width .masonry {
    margin: 0 auto;
}

.item {
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
}

#container {
    margin: 10px auto;
}


/* Style für den Footer */

footer {
    text-align: center;
}

footer a {
    color: black!important;
}


/* Placeholder für ladende Tabs */

.loader {
    text-align: center;
    margin-top: 20px;
}

.loader > img {
    width: 30px;
}

.pager {
    text-align: center;
}

#searchplugin {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 501;
    width: 25%;
}

#searchplugin > div {
    text-align: center;
    padding-top: 5px;
}

#searchplugin > div > a {
    color: white;
}

@media(min-width: 768px) {
    #searchplugin {
        display: initial;
    }
}

.product {
    text-align: center;
    border: 1px dotted lightgrey;
    padding: 5px;
    max-width: 150px;
}

.product a {
    color: #333;
}

.product .price {
    position: relative;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    text-align: left;
    width: 80px;
    font-weight: bold;
}

.product .title {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    max-height: 31px;
    overflow: hidden;
    margin-bottom: 4px;
}

.product .shop {
    font-size: 10px;
    text-align: left;
    color: green;
    margin-bottom: 6px;
}

.product .shipping {
    font-size: 10px;
    text-align: left;
}

.lightslider {
    overflow: visible!important;
}

.lSPrev > span, .lSNext > span {
    background-color: black;
    padding: 5px;
}

#mark {
    font-size: 13px;
}

#mark a {
    margin-left: 3px;
}

.product img {
    max-width: 100px;
}

@media(max-width: @screen-xs-max) {
    .resultContainer {
        padding-left: 0;
        padding-right: 0;
    }
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.image-item {
    margin: 5px;
    .img {
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    }
}
