@quicktip-background-color: @static-pages-color-white;
@metager-dropdown-menu-background-color: @static-pages-color-white;
@metager-dropdown-menu-box-shadow-color: fade(@static-pages-color-black, 17.5%);
@metager-dropdown-menu-li-a-color: @static-pages-color-almost-black;
@metager-dropdown-menu-li-a-hover-color: @static-pages-color-strong-grey;
@metager-dropdown-menu-li-a-hover-background-color: @static-pages-color-almost-white;
@spruch-color: @static-pages-spruch-color;
@spruch-border-left-color: @spruch-color;
@spruch-author-color: @static-pages-color-grey;
@metager-dropdown-toggle-hover-or-focus-color: fade(@static-pages-color-black, 15%);
@metager-navbar-toggle-color: @static-pages-color-grey;
@metager-navbar-toggle-background-color: @static-pages-color-white;
@metager-navbar-toggle-border-color: @static-pages-color-almost-white;
@metager-navbar-toggle-visited-color: @static-pages-color-grey;
@metager-navbar-toggle-hover-background-color: @static-pages-color-almost-white;
@toggle-nav-hide-or-metager-navbar-toggle-background-color: @static-pages-color-almost-white;
@more-information-ul-li-color: @static-pages-color-grey;
@more-information-h2-color: @static-pages-color-grey;
@div-right-background-color: @static-pages-color-almost-white;
@div-right-p-border-bottom-color: @static-pages-color-black;
@quicktip-color: @static-pages-color-black;
@quicktip-border-left-color: @static-pages-quicktip-aufruf-color;
@quicktip-aufruf-color: @static-pages-quicktip-aufruf-background;
@quicktip-aufruf-border-left-color: @quicktip-aufruf-color;
@navbar-default-background-color: @static-pages-color-white;
@mg-panel-background-color: @static-pages-color-white;
@form-group-color: @static-pages-color-black;
@metager-searchinput-color: @static-pages-color-strong-grey;
@metager-searchinput-background-color: @static-pages-color-white;
@metager-searchinput-border-color: @static-pages-color-almost-white;
@metager-searchbutton-color: @static-pages-color-strong-grey;
@metager-searchbutton-background-color: @static-pages-color-almost-white;
@metager-searchbutton-border-color: @static-pages-color-almost-white;
@modal-content-box-shadow-color: fade(@static-pages-color-black, 30%);
@a-content-hidden-xs-color: @static-pages-color-almost-black;
@section-box-shadow-color: fade(@static-pages-color-black, 55%);
* {
    font-family: Liberation Sans, sans-serif;
}

body {
    margin: 0;
    &>div {
        padding-top: 70px;
    }
    &.quicktips {
        background-color: @quicktip-background-color;
    }
}

footer {
    margin: 30px 0px;
    bottom: 0;
    width: 100%;
    ul.list-inline {
        width: 100%;
    }
    li {
        width: 33%;
        text-align: center;
    }
    img {
        max-width: 100%;
    }
}

ul.startpage {
    list-style-type: none;
}

nav {
    h1 {
        margin: 0;
        height: 100%;
        padding-left: 20px;
        padding-top: 8px;
        font-family: sans-serif;
        font-style: italic;
        margin: 0;
        font-weight: bold;
        line-height: 1;
        white-space: nowrap;
    }
    .navbar-brand>div.logo {
        height: 100%;
    }
}

ul.metager-dropdown-menu {
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    top: 100%;
    left: auto;
    z-index: 1000;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    margin-top: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: @metager-dropdown-menu-background-color;
    border-radius: 4px;
    box-shadow: 0 6px 12px @metager-dropdown-menu-box-shadow-color;
    background-clip: padding-box;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 1s ease, padding 1s ease;
    -moz-transition: max-height 1s ease, padding 1s ease;
    -ms-transition: max-height 1s ease, padding 1s ease;
    -o-transition: max-height 1s ease, padding 1s ease;
    transition: max-height 1s ease, padding 1s ease;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    &>li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: @metager-dropdown-menu-li-a-color;
        white-space: nowrap;
        &:hover {
            text-decoration: none;
            color: @metager-dropdown-menu-li-a-hover-color;
            background-color: @metager-dropdown-menu-li-a-hover-background-color;
        }
    }
}

#mglogo {
    width: 100%;
    text-align: center;
}

#spruch {
    margin-bottom: 20px;
    padding: 5px;
    line-height: 1.2;
    color: @spruch-color;
    border-left: 3px solid @spruch-border-left-color;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Palatino, Times, serif;
    .author {
        font-size: 14px;
        color: @spruch-author-color;
    }
}

#navbar-static-pages {
    z-index: 4;
    width: 100%;
}

#gutscheine {
    &>a {
        display: inline-block;
        &:first-child {
            padding-right: 0;
        }
        &:first-child+a {
            padding-left: 0;
        }
    }
}

@keyframes dropdown-animation {
    0% {
        max-height: 0px;
        padding: 0px 0;
        border: none
    }
    1% {
        padding: 5px 0;
        border: 1px solid @metager-dropdown-toggle-hover-or-focus-color;
    }
    100% {
        max-height: 1000px;
        padding: 5px 0;
        border: 1px solid @metager-dropdown-toggle-hover-or-focus-color;
    }
}

.metager-dropdown:hover {
    background-color: @metager-navbar-toggle-hover-background-color;
    &>.metager-dropdown-menu {
        animation-name: dropdown-animation;
        animation-duration: 0.7s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 0.1s;
    }
}

.metager-navbar-toggle {
    color: @metager-navbar-toggle-color;
    background-color: @metager-navbar-toggle-background-color;
    padding: 5px 10px;
    margin: 5px 8px 5px 0;
    border-radius: 7px;
    border: 1px solid @metager-navbar-toggle-border-color;
    display: block;
    width: 36px;
    height: 30px;
    &:visited {
        color: @metager-navbar-toggle-visited-color;
    }
}

#toggle-nav-hide .metager-navbar-toggle {
    background-color: @toggle-nav-hide-or-metager-navbar-toggle-background-color;
}

@media (max-width: 979px) {
    #metager-static-nav-list {
        width: 100%;
        max-height: 40px;
        overflow: hidden;
        transition: max-height 1s ease;
    }
    #metager-static-nav-list:target {
        max-height: 1000px;
    }
    #metager-static-nav-list>li {
        display: initial;
    }
    ul.metager-dropdown-menu {
        position: inherit;
        width: 100%;
        border-radius: 0;
        box-shadow: initial;
    }
    ul#metager-static-nav-list:target #toggle-nav-show {
        display: none;
    }
    ul#metager-static-nav-list:target #toggle-nav-hide {
        display: initial!important;
    }
}

@media (min-width: 980px) {
    .metager-navbar-toggle {
        display: none;
    }
}

#color-chooser {
    padding: 0;
    a {
        display: block;
        width: 50px;
        height: 50px;
    }
    li {
        width: 50px;
        margin: 0;
    }
    #standard {
        background-color: rgb(255, 194, 107);
    }
    #standardHard {
        background-color: rgb(255, 128, 0);
    }
    #green {
        background-color: rgb(177, 226, 163);
    }
    #greenHard {
        background-color: rgb(127, 175, 27);
    }
    #blue {
        background-color: rgb(164, 192, 230);
    }
    #blueHard {
        background-color: rgb(2, 93, 140);
    }
    #red {
        background-color: rgb(255, 92, 92);
    }
    #redHard {
        background-color: rgb(255, 0, 0);
    }
    #pink {
        background-color: rgb(255, 196, 246);
    }
    #pinkHard {
        background-color: rgb(254, 67, 101);
    }
    #black {
        background-color: rgb(238, 238, 238);
    }
    #blackHard {
        background-color: rgb(50, 50, 50);
    }
}

#mglogo>a {
    display: block;
    width: 200px;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Liberation Sans, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.0em;
    line-height: 1;
    white-space: nowrap;
    padding: 0.4em 0;
    border-radius: .25em;
    margin: 0 auto;
}

#sponsors {
    a {
        font-size: 0.8em;
    }
    h2 {
        font-size: 1.5em;
    }
}

#moreInformation {
    box-shadow: none;
    margin-top: 5%;
    text-align: center;
    -moz-box-shadow: none;
    ul {
        padding: 0;
    }
    ul li {
        color: @more-information-ul-li-color;
    }
    &>div {
        font-size: 15px;
    }
    h2 {
        color: @more-information-h2-color;
        font-size: 25px;
    }
    a:hover {
        text-decoration: underline;
    }
}

#searchForm button {
    width: 50px;
    line-height: 100%;
    height: 28px;
    border: 0;
    background-color: transparent;
    padding: 0;
}

li#info {
    white-space: pre-line;
}

main div#foki {
    margin: 5px 0;
    text-align: center;
}

div#top {
    padding-right: 35px;
}


div#bottom {
    background-color: @div-right-background-color;
    width: 100%;
    margin-right: auto;
    border-radius: 5px;
    padding: 20px;
    padding-top: 5px;
    p {
        white-space: normal;
        border-bottom: 1px solid @div-right-p-border-bottom-color;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
}

div#bottom label {
    display: block;
    vertical-align: middle;
    text-align: center;
    font-size: 18px; 
    color: #666;
}

div#bottom label:hover {
    color: #000;
}

div#bottom label::after {
  font-size: 18px;
  content: "▼";
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

div#expand {
  max-height: 0px;
  overflow: hidden; 
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

input#toggle:checked ~ #expand {
  max-height: 900px;
}

input#toggle {
    display: none;
    visibility: hidden;
}
input#toggle:checked ~ label::after {
  content: "▲";
}

textarea#message {
    height: 200px;
}

#anpassen-label a.content {
    color: inherit;
}

#plugin-modal ol>li {
    margin-bottom: 5px;
}

.quicktip {
    margin-bottom: 15px;
    padding: 10px;
    line-height: 1.2 !important;
    font-family: Georgia, "Times New Roman", Palatino, Times, serif;
    color: @quicktip-color;
    border-left: 3px solid @quicktip-border-left-color;
    font-size: 14px;
    h1 {
        font-size: 22px;
        margin-top: 0px;
    }
    &.aufruf {
        color: @quicktip-aufruf-color;
        border-left: 3px solid @quicktip-aufruf-border-left-color;
    }
}

.wikiqtextract {
    font-family: Georgia, "Times New Roman", Palatino, Times, serif;
}

.qtheader {
    font-family: verdana, arial, helvetica, sans-serif;
}

.author {
    float: right !important;
}

.language-textarea {
    resize: none;
    overflow: hidden;
}

.language-name {
    white-space: pre;
}

.navbar-default {
    background-color: @navbar-default-background-color;
    border-radius: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.mg-panel {
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    margin-bottom: 0;
    background-color: @mg-panel-background-color;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    @media (max-width: 768px) {
        margin: 0px;
        box-shadow: none;
    }
}

.input-group-addon {
    padding: 0;
}

.form-group {
    font-family: sans-serif;
    font-size: 16px;
    color: @form-group-color;
    background-color: transparent;
    text-align: center;
}

.kontakt-form-group {
    text-align: left;
    font-size: 14px;
}

.metager-searchinput {
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: @metager-searchinput-color;
    background-color: @metager-searchinput-background-color;
    background-image: none;
    border: 1px solid @metager-searchinput-border-color;
    border-right: 0px none;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0px;
}

.metager-searchbutton {
    height: 30px;
    width: 100px;
    border-left: 0px none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: @metager-searchbutton-color;
    background-color: @metager-searchbutton-background-color;
    border: 1px solid @metager-searchbutton-border-color;
    padding: 6px 12px;
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
}

.metager-logo {
    height: 30px;
    float: left;
    top: -2px;
    margin-right: 3px;
}

.mutelink {
    color: inherit;
    &:visited {
        color: inherit;
    }
}

.dotlist {
    list-style-type: disc;
    text-align: left;
}

.well-sm {
    margin: 10px 0px;
}

.subheading {
    font-size: 20px;
    margin: 20px 0px;
    white-space: pre-wrap;
}

.donation-form-group {
    text-align: left;
    font-size: 12px;
}

.beitritt-form-group {
    text-align: left;
}

.beitritt-input {}

.modal-content {
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 3px 1px @modal-content-box-shadow-color;
    -moz-box-shadow: 1px 1px 3px 1px @modal-content-box-shadow-color;
    box-shadow: 1px 1px 3px 1px @modal-content-box-shadow-color;
}

.bold {
    font-weight: bold;
}

.fokus-category {
    font-size: 20px;
}

.settings-form-control {
    width: 200px;
    margin-top: 10px;
}

.bitcoins {
    text-align: center;
    padding: 30px;
}

.checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.non-bold {
    font-weight: normal;
}

.settings-checkbox .settings-icon {
    margin-left: 5px;
    font-size: 12px;
}

.settings-btn+.settings-btn {
    margin-left: 10px;
}

.wikiqtextract p {
    margin-bottom: 0;
}

i.fa {
    background-color: transparent;
}

a.content.hidden-xs {
    color: @a-content-hidden-xs-color;
}

a.navbar-brand {
    line-height: 100%!important;
    padding: 0;
    position: absolute;
    z-index: 5;
    left: 10px;
}

.logo {
    height: 30px!important;
    &>h1 {
        font-size: 30px;
    }
}

.dotlist li {
    margin-bottom: 5px;
}

form.contact {
    max-width: 500px;
}

label.select-label {
    margin-bottom: 0;
    margin-top: 10px;
}

@media print {
    .noprint {
        display: none!important;
    }

    .beitritt-forumlar-info {
        font-size: 6pt !important;
    }
}


.donation-form-group label {
    font-weight: bold;
}

section {
    padding: 10px;
    box-shadow: 5px 5px 10px 0px @section-box-shadow-color;
    -moz-box-shadow: 5px 5px 10px 0px @section-box-shadow-color;
    -moz-box-shadow: 5px 5px 10px 0px @section-box-shadow-color;
}

address {
    white-space: pre;
}

code {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

label a {
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

footer {
    margin: 30px 0px;
    bottom: 0;
    width: 100%;
    ul.list-inline {
        width: 100%;
    }
    li {
        width: 33%;
        text-align: center;
    }
    img {
        max-width: 100%;
    }
}

main ul li:not(.lslide) {
    margin: 0 10px;
}

.searchform-bonus {
    list-style-type: none;
    text-align: center;
    margin-left: 0!important;
    margin-top: 10px;
}

fieldset input[type=text] {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
    overflow: visible;
}

main fieldset {
    border: 0;
}

.panel-title {
    font-weight: bold;
}

.signature {
    border-top: 1px dashed black;
    width: 50%;
    margin-top: 10px;
}