/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.orig
.vscode
langfiles.zip
# The Files created by Webpack in the build process
/public/**/*.css
/public/**/*.js
/public/mix-manifest.json

**/*.map
/.buildpath
/.project
