* {}

h3 {
    font-size: 21px;
    margin-bottom: 5px;
}

p {
    white-space: pre-wrap;
}

h1 {
    margin-bottom: 25px;
}

main {
    text-align: left;
}

address {
    white-space: pre;
}

main ul {
    list-style-type: disc;
    text-align: left;
}

.well-sm {
    margin: 10px 0px;
}

h1 + h2 {
    margin-top: 0;
}

h2 + h3 {
    margin-top: 0;
}