p {
    white-space: pre-wrap;
    margin: 20px 0;
}

h1 {
    margin-bottom: 25px;
}

h2 {
    font-size: 20px;
    margin-top: 10px;
}

main {
    text-align: left;
}

address {
    white-space: pre;
}