#color-chooser #standard {
    background-color: rgb(255, 194, 107);
}

#color-chooser #standardHard {
    background-color: rgb(255, 128, 0);
}

#color-chooser #green {
    background-color: rgb(177, 226, 163);
}

#color-chooser #greenHard {
    background-color: rgb(127, 175, 27);
}

#color-chooser #blue {
    background-color: rgb(164, 192, 230);
}

#color-chooser #blueHard {
    background-color: rgb(2, 93, 140);
}

#color-chooser #red {
    background-color: rgb(255, 92, 92);
}

#color-chooser #redHard {
    background-color: rgb(255, 0, 0);
}

#color-chooser #pink {
    background-color: rgb(255, 196, 246);
}

#color-chooser #pinkHard {
    background-color: rgb(254, 67, 101);
}

#color-chooser #black {
    background-color: rgb(238, 238, 238);
}

#color-chooser #blackHard {
    background-color: rgb(50, 50, 50);
}

ul#color-chooser {
    padding: 0;
}

ul#color-chooser a {
    display: block;
    width: 50px;
    height: 50px;
}

#color-chooser li {
    width: 50px;
    margin: 0;
}

#moreInformation {
    box-shadow: none;
    margin-top: 5%;
    text-align: center;
    -moz-box-shadow: none;
}

#moreInformation ul {
    /* text-align: left; */
    padding: 0;
}

#moreInformation ul li {
    color: grey;
}

#moreInformation > div {
    font-size: 15px;
}

#moreInformation h2 {
    color: grey;
    font-size: 25px;
}

#moreInformation a:hover {
    text-decoration: underline;
}

#searchForm button {
    width: 50px;
    line-height: 100%;
    height: 28px;
    border: 0;
    background-color: transparent;
    padding: 0;
}

#mglogo {
    width: 100%;
    text-align: center;
}

#mglogo > a {
    display: block;
    width: 200px;
    text-decoration: none;
    font-size: 1.1em;
    font-family: Liberation Sans, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.0em;
    line-height: 1;
    white-space: nowrap;
    padding: 0.4em 0;
    border-radius: .25em;
    margin: 0 auto;
}

#sponsors a {
    font-size: 0.8em;
}

#sponsors h2 {
    font-size: 1.5em!important;
}

#foki label > span {
    margin-right: 5px;
}

#foki label span {
    background-color: transparent;
}

#foki input {
    visibility: hidden;
}

#foki input:checked + label {
    font-weight: bold;
    background-color: #e3e3e3;
}

#foki input + label {
    border-radius: 4px;
    padding: 7px 20px;
    font-weight: normal;
}

#foki input + label:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}

.modal-content {
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

#anpassen-label a.content {
    color: inherit;
}

.mutelink {
    color: grey;
}

#plugin-modal ol > li {
    margin-bottom: 5px;
}